.content-heading-container {
  padding: 8rem 1rem 0px;
}

.content-heading {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0px auto 2.5rem;
}

.search-input-container {
  width: 100%;
  margin: 0px auto 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 27rem;
  background: rgba(0, 0, 0, 0.1);
  background-image: url("/public/search.svg");
  background-repeat: no-repeat;
  background-position: 1.2rem 1.2rem;
  background-size: 20px 20px;
  padding: 1rem 1.8rem;
  padding-left: 3rem;
  font-size: 1.3rem;
  color: var(--white);
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  border: none;
  border-radius: 100px;
  transition: all 250ms ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Sans Pro", sans-serif;
}

.no-results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-results__img {
  width: 20rem;
  margin-top: 1.5rem;
  text-align: center;
  align-self: center;
}

.no-results__content {
  color: var(--white);
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 4rem 0;
}

.cards-container {
  margin: 0px auto;
  width: 100%;
  max-width: 1360px;
  transition: max-width 0.5s ease 0s;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-fill: balance-all;
  -webkit-column-fill: balance-all;
  column-fill: balance-all;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}

.card {
  position: relative;
  /* display: flex; */
  display: inline-block;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  color: var(--white);
  width: 425px;
  height: max-content;
  text-shadow: rgb(0 0 0 / 10%) 1px 1px 1px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem 2.5rem;
  margin: 1rem;
}

.card__logo {
  background-size: 3.5rem 3.5rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 1rem;
}

.card__heading {
  color: var(--white);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card__description {
  margin: 0px 0px 0.75rem;
}

.card li + li {
  margin-top: 0.75rem;
}

.card__blog {
  color: var(--white);
  border-bottom: 1px dotted #f2f2f2;
}

@media only screen and (max-width: 1380px) {
  .cards-container{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 100%;
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .cards-container{
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 100%;
    margin: auto;
  }
  .card {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  
  .content-heading-container {
    padding: 6rem 1rem 0;
  }

  .content-heading {
    font-size: 2rem;
  }

  .search-input-container {
    margin: 0px auto 2rem;
  }

  .search-input {
    width: 85%;
    padding: 0.8rem 1.5rem;
    background-position: 1rem 1rem;
    padding-left: 2.5rem;
    font-size: 1.2rem;
  }

  .no-results__img {
    width: 15rem;
  }

  .no-results__content {
    font-size: 1.8rem;
  }

  .card {
    padding: 2rem;
    margin: 0rem 0.7rem;
    margin-top: 2rem;
    /* width: 94%; */
  }
}